<div class="about-section">
    <div class="about-project">
        <h1>About The Project</h1>
        <p>Image Explorers Colorizer is a project made by the Image Explorers for the course, Digital Image Processing [DIGIMAP]. The project utilizes an image colorization algorithm by Zhang et al. (2016) to bring grayscale images to life. What makes this algorithm unique is that it uses multinomial classification instead of regression in its convolutional neural network to make the images it colors more saturated. Additionally, it uses class rebalancing at training time which resamples pixels based on color rarity. This increases the diversity of colors in the output. Hence, the output image is being colorized in a colorful, saturated and vibrant manner.</p>
        <p>To use our colorizer, simply upload a grayscale image of your choice. Then, wait a few minutes as our image explorers colorizer colorizes your image to life! Once it’s done, we’ll display your colorized image and you could also save it by clicking the download button. Alright, let’s color!</p>

        <div class="ref">
            <a href="https://doi.org/10.1007/978-3-319-46487-9_40" target="_blank">Zhang, R., Isola, P., Efros, A.A. (2016). Colorful Image Colorization. In: Leibe, B., Matas, J., Sebe, N., Welling, M. (eds) Computer Vision – ECCV 2016. ECCV 2016. Lecture Notes in Computer Science(), vol 9907. Springer, Cham. https://doi.org/10.1007/978-3-319-46487-9_40</a>
        </div>
    </div>
    
    <div class="developers">
        <h1>Developers</h1>
        <div id="devs">
            <div class="image-wrap">
                <img src="/imgs/ainsley.PNG" alt="Go, Ainsley" class="avatar">
                <p>GO, Ainsley</p>
            </div>
            <div class="image-wrap">
                <img src="/imgs/frances.PNG" alt="Lopez, Frances" class="avatar">
                <p>LOPEZ, Frances</p>
            </div>
            <div class="image-wrap">
                <img src="/imgs/elyssia.PNG" alt="Ong, Elyssia" class="avatar">
                <p>ONG, Elyssia</p>
            </div>
            <div class="image-wrap">
                <img src="/imgs/sophia.PNG" alt="See, Sophia" class="avatar">
                <p>SEE, Sophia</p>
            </div>
        </div>
    </div>
</div>