<div class="error-section">
    <h2>Ooops! Page Not Found</h2>
    <h5>Sorry, the page you are looking for does not exist,</h5>
    <h5>is not available at the moment.</h5>
    <p>Error Code: 404</p>
    <div class="btn-error">
        <a href="/about"><button type="button" class="btn-error btn-about">About Us</button></a>
        <a href="/"><button type="button" class="btn-error btn-home">Return Home</button></a>
    </div>
</div>