<nav>
  <ul class = "navibar">
    <li class = "logo">Image Explorers Colorizer</li>
    <!-- <img id = "logo" src="public/imgs/text.png"> -->
    <ul class="nav-links">
      <li><a class="nav-link active" id="HomeTag" href="/">Home </a></li>
      <li><a class="nav-link" id="AboutTag" href="/about">About</a></li>
    </ul>
  </ul>
</nav>