.navbar {
    background: #004E64;
    width: 1920px;
    height: 81px;
    left: 0px;
    top: 0px;
}

a.navbar-brand{
    position: absolute;
    width: 355px;
    height: 49px;
    left: 782px;
    top: 17px;
    
    background: url(text.png);
}

html {
    height: 100%;
}

body {
    /*position: relative;*/
    /*width: 1920px;*/
    /*height: 1080px;*/
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(180deg, #83CFA2 0%, rgba(85, 213, 231, 0.6) 100%);
}