body {
    height: 100vh;
    margin: 0; 
    padding: 0;
}

.about-section{
    min-height: 100vh;
    width: 70%;
    margin:auto;
    position:relative;
    background: rgba(255, 255, 255, 0.8);
}

.about-project{
    padding: 4em 2em 0;
}

.about-section p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    line-height: 22px;

    color: #004E64;
}

.about-section h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2rem;
    line-height: 29px;
    color: #1A7769;
    margin-bottom: 0.7em;
    margin-top: 0.7rem;
}

div.ref {
    width: 80%;
    margin-left: auto; 
    margin-right: 0;
}

.about-section a{
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #004E64;
    display:block;
    text-align:right;
    /* margin-left:12em; */
    margin-top: 2em;
    margin-bottom: 3em;
    /* overflow: hidden; */
}

div.developers {
    padding: 2em 2em 0;
}

#devs{ 
    width: 100%;
    /* margin: auto; */
}


#devs .image-wrap{
    display:inline-block;
    width:10em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

#devs p{
    margin-top: 1em;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 2px solid #004E64;
}


@media (max-width: 1100px) {
    .avatar {
      width: 6em;
      height: 6em;
    }
}


@media (max-width: 1225px) {
    .avatar {
      width: 6em;
      height: 6em;
    }

    #devs{
        text-align: center;
    }
}
