ul.navibar{
    background: #004E64;
    width:auto;
    height: 81px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@font-face {
  font-family: Sweet Buttermilk;
  src: url(Sweet\ Buttermilk\ Sans\ Free.ttf);
}

li.logo{
    flex: 10;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    font-family: Sweet Buttermilk;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

ul.nav-links{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /*margin-right: 100px;*/
}

html {
    height: auto;
}

body {
    /*position: relative;*/
    /*width: 1920px;*/
    /*height: 1080px;*/
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #83CFA2 0%, rgba(85, 213, 231, 0.6) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#HomeTag{
    /*position: absolute;
    width: 63px;
    height: 24px;
    left: 1530px;
    top: 22px;*/

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

}

#AboutTag{
    /*position: absolute;
    width: 62px;
    height: 24px;
    left: 1740px;
    top: 22px; */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

#AboutTag:hover {
    transform: scale(1.1); 
  }

div.container {
    height: 100%;
    width: 100%;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header2 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;

    color: #004E64;
}

.header3 {

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 450;
    font-size: 35px;
    line-height: 49px;
    text-align: center;

    color: #004E64;
}


div.welcome{
    flex:3;
    display: flex;
    padding:10%;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

#marilyn{
    max-width: 600px;
}

.image-search-box{
    flex:5;
    height:100%;
    width:500px;
    border-radius: 15px;
    float:right;
    padding: 15px;
    text-align: right;
    background-color: #FFFFFF;
}

nav ul{
    list-style-type: none;      
}

#image-url{
  width:90%;
  margin-top: 10px;
  margin-right: 15px;
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    top:10px;
    margin: 0;
    color: #fff;
    background: #004E64;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #83CFA2;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #83CFA2;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 4px dashed #004E64;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #83CFA2;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 200;
    /*text-transform: uppercase;*/
    color: #004E64;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }