@font-face {
font-family: Sweet Buttermilk;
src: url(Sweet\ Buttermilk\ Sans\ Free.ttf);
}

html {
    height: auto;
}

body {
    /*position: relative;*/
    /*width: 1920px;*/
    /*height: 1080px;*/
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #83CFA2 0%, rgba(85, 213, 231, 0.6) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

ul.navibar{
    background: #004E64;
    width:auto;
    height: 81px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

li.logo{
    flex: 10;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    font-family: Sweet Buttermilk;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 26px;
    text-align: center;
}

a.text-logo{
    text-decoration: none;
    color: #FFFFFF;
}

ul.nav-links{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    list-style-type: none; 
    z-index: 2;   
    /*margin-right: 100px;*/
}

li > a.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    /* line-height: 26px;    */
    text-align: center;
    color: #FFFFFF;
}

li > a.nav-link.active {
    font-weight: 600;
    font-size: 22px;
}

li > a.nav-link:not(.active) {
    transform: scale(1.1); 
    margin-top: 0.2em;
}

@media (max-width: 800px) {
    li.logo{
        font-size:2.4rem;
    }

    li > a.nav-link{
        font-size:1rem;
    }

    li > a.nav-link.active{
        font-size:1.3rem;
    } 

    li > a.nav-link:not(.active){
        margin-top:0.3em;
    }
}

@media (max-width: 710px) {
    li.logo{
        font-size:2rem;
    }

    li > a.nav-link{
        font-size:0.8rem;
    }

    li > a.nav-link.active{
        font-size:1rem;
    } 

}
